HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
build
out
*.iws
*.iml
*.ipr
logs

# Crash log files
crash.log


/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/7.4/checksums/checksums.lock
/src/main/java/org/example/summer/apprentice/model/Customer.java
/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
/src/main/java/org/example/summer/apprentice/model/Event.java
/.gradle/7.4/executionHistory/executionHistory.bin
/.gradle/7.4/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/7.4/fileHashes/fileHashes.bin
/.gradle/7.4/fileHashes/fileHashes.lock
/.gradle/7.4/dependencies-accessors/gc.properties
/.gradle/7.4/gc.properties
/.gradle/vcs-1/gc.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.gradle/7.4/fileChanges/last-build.bin
/.gradle/7.4/checksums/md5-checksums.bin
/.gradle/7.4/checksums/sha1-checksums.bin
/.gradle/7.4/fileHashes/resourceHashesCache.bin
/.gradle/buildOutputCleanup/outputFiles.bin
